<style>
    #modal-background {
        display: flex; 
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 9999;
        justify-content: center;
        justify-items: center;
        align-items: center;
        position: fixed;
    }
    #error-container{
        background-color: white;
        display: flex;
        padding: 10px;
        width: 400px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    #close-button{
        width: fit-content;
    }
    #title{
        font-weight: bold;
        font-size: large;
    }
    .horizontal-container {
        flex-direction: row;
        display: flex;
        width: 350px;
        justify-content: space-between;
        align-content: space-between;
    }
    #password:invalid{
        border: 2px dashed #ff4d4d;
    }
</style>

<div id="modal-background">
    <div id="error-container">
        <div id="title">Add User</div>
        <div class="horizontal-container">
            <label for="username">Username*</label>
            <input id="username"  minlength="4" required></input>
        </div>
        <div class="horizontal-container">
            <label title="Needs to be 8 characters long" for="password">Password</label>
            <input title="Needs to be 8 characters long" type="password" required minlength="8" id="password"></input>
        </div>
        <div class="horizontal-container">
            <label title="Needs to match password" for="confirm-password">Confirm Password</label>
            <input title="Needs to match password" type="password" id="confirm-password"></input>
        </div>
        <div class="horizontal-container">
            <button id="close-button">Close</button>
            <button disabled id="save-button">Create New User</button>
        </div>
    </div>
</div>