<style>
    #header {
        display: flex; 
        justify-content: left; 
        border-bottom: 5px solid #602983; 
        width: 100vw;
        :hover{
            cursor: pointer;
        }
    }
    #name-and-tagline{
        display: flex; 
        align-items: center; 
        flex-direction: column;
    }
    #name{
        font-family: Inter, sans-serif;
        font-weight: bold;
        font-size: 70px;
    }
    #tagline{
        font-size: 28px;
    }
</style>

<div id="header" >
    <div id="name-and-logo" style="display: flex;">
        <img id="logo" src="/logo.png"  />
        <div id="name-and-tagline">
            <div id="name" >
                NextRead
            </div>
            <div id="tagline" >
                Find your next favorite
            </div>
        </div>
    </div>
</div>