<style>
    #tag-space{
        max-width: 562;
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 10px;
    }
    .tag{
        background-color: #602983;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        border: 2px solid #602983; 
    }
    .tag.selected{
        color: #602983;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        border: 2px solid #602983; 
    }
    .tag:hover{
        cursor: pointer;
    }
    .tag-space{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        overflow-y: scroll; 
        max-height: 200px;
    }
    #search-holder{
        display: flex;
        gap: 10px;
    }
</style>

<div id="tag-space">

    <div id="search-holder">
        <div>Search</div>
        <input type="search" id="search-bar"></input>
    </div>
    <div id="white-list-label" class="label">
        White List
    </div>
    <div id="white-list" class="tag-space">
    </div>
    <div id="black-list-lable" class="label">
        Black List
    </div>
    <div id="black-list" class="tag-space">
        
    </div>
</div>