<style>
    #tag-space{
        max-width: 562;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .tag{
        background-color: #602983;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
    }
    .tag:hover{
        cursor: pointer;
    }
    .tag-space{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>

<div id="tag-space">
    <div id="white-list-label" class="label">
        White List
    </div>
    <div id="white-list" class="tag-space">
    </div>
    <div id="black-list-lable" class="label">
        Black List
    </div>
    <div id="black-list" class="tag-space">
        
    </div>
</div>